/*all*/
*{
    box-sizing: border-box;
}
body{
    background-color: silver;
}
.imac{
    background-color: #ffffff;
    width: 1280px;
    height: 720px;
}
.allbox{
    padding: 10px 10px 80px 10px ;
}
.h{
    margin: 0;
}
/*box1*/
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}
h1:hover{
    font-size: 7em;
    text-decoration: underline;
}

#h2\.1:hover{
    font-size: 4em;
    text-decoration: underline;
}

#h2\.1{
    font-size: 2.625em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.box1{
    width: 943px;
    height: 150px;
}

.boxbox1{
    background-color: #55B3B9;
    width: 943px;
    height: 150px;
    top: 10px;
    left: 10px;
margin: 10px 326px 10px 10px;
}

.boxbox1:hover{
    width: 100%;
    border: solid red 1rem;
}

.text1{
margin: 10px auto auto 10px;
    text-align: left;
    padding-top: 10px;
}


/*box2*/
.box2{
    width: 943px;
    height: 150px;
}

#h2\.2{
    font-size: 2.625em;
    color: rgba(34, 34, 34, 0.69);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

#h2\.2:hover{
    font-size: 4em;
    text-decoration: underline;
}

#h3\.2{
    color: rgba(34, 34, 34, 0.69);
    font-size: 1.75em;
    font-family: "sail", sans-serif;
    font-weight: 400;
}

#h3\.2:hover{
    font-size: 3.5em;
    text-decoration: underline;
}

.text2{
    margin: 10px auto auto 10px;
   text-align: left;
    padding-top: 10px;
}

.boxbox2{
    width: 629px;
    height: 150px;
    top: 170px;
    left: 641px;
    margin: 10px 10px 10px 631px;
    background-color: #C56060;
}

.boxbox2:hover{
    width: 100%;
    border: solid red 1rem;
}


/*box3*/

.box3{
    width: 943px;
    height: 150px;
}

#h2\.3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: rgba(34, 34, 34, 0.62);
}

#h2\.3:hover{
    font-size: 3em;
    text-decoration: underline;
}

#h3\.3{
    color: rgba(34, 34, 34, 0.62);
    font-size: 1em;
    font-family: "sail", sans-serif;
    font-weight: 400;
    text-decoration: underline;
}

#h3\.3:hover{
    font-size: 2em;
}

.text3{
    padding-top: 10px;
    text-align: center;
}
.boxbox3{
    background-color: #8FC091;
    width: 943px;
    height: 150px;
    top: 330px;
    left: 168px;
    margin: 10px 168px 10px 168px;
}

.boxbox3:hover{
    width: 100%;
    border: solid red 1rem;
}
/*box4*/
.box4{
    width: 943px;
    height: 150px;
}

#h2\.4{
    color: rgba(34, 34, 34, 0.42);
    font-size: 2.625em;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}

#h2\.4:hover{
    font-size: 4em;
    text-decoration: underline;
}

#h3\.4{
    color: rgba(34, 34, 34, 0.42);
    font-size: 1.75em;
    font-family: "sail", sans-serif;
    font-weight: 400;
}

#h3\.4:hover{
    font-size: 3.5em;
    text-decoration: underline;
}

.text4{
    margin: 10px auto auto 10px;
    text-align: left;
    padding-top: 10px;
}
.boxbox4{
    background-color: #8F86AF;
    width: 628px;
    height: 150px;
    top: 490px;
    left: 10px;
    margin: 10px 10px 80px 10px;
}

.boxbox4:hover{
    width: 100%;
    border: solid red 1rem;
}